body {
	background: #000000 no-repeat center top fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.title {
	margin: auto;
	background-image: url("../img/title.png");
	width: 512px;
	height: 64px;
    -webkit-filter: drop-shadow(0px 2px 8px rgba(0,0,0,0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
}

.graph {
	margin: auto;
	margin-top: 12px;
	width: 100%;
	text-align: center;
    -webkit-filter: drop-shadow(0px 2px 8px rgba(0,0,0,0.75));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
}

.axis {
	font: 0.875em sans-serif;
	fill: #eeeeee;
}

.axis path, .axis line {
	fill: none;
	stroke: #eeeeee;
	shape-rendering: crispEdges;
}

.options {
	margin: auto;
	margin-top: 8px;
	font: 0.875em sans-serif;
	color: #eeeeee;
	background-color: #333333;
	border-radius: 8px;
	padding: 8px;
	width: 768px;
	height: 168px;
    -webkit-filter: drop-shadow(0px 2px 8px rgba(0,0,0,0.75));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=2, Color='#444')";
}

.options table {
	float: left;
	margin: 4px;
}

.options table tr {
}

.options table tr td {
	padding: 4px;
	background-color: #222222;
	border-radius: 4px;
}

input[type=number] {
	width: 64px;
	background-color: #111111;
	color: #eeeeee;
	padding: 2px 2px 2px 4px;
	border-radius: 3px;
	border-width: 0px;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    cursor: pointer;
}    

input[type=number]:hover::-webkit-inner-spin-button { 
    background: url("../img/arrows.png") no-repeat 50% 50%;  
    width: 14px;
    height: 14px;
    padding: 4px;
    position: relative;
    right: -4px;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    cursor: pointer;
    background: url("../img/drop.png") no-repeat #111111 right;
	color: #eeeeee;
	padding: 2px 16px 2px 4px;
	border-radius: 3px;
	border-width: 0px;
}

input[type=checkbox] { 
    cursor: pointer;
}

.tooltipTitle {
	font: 1em sans-serif;
	color: #eeeeee;
	margin: 0px;
}

.tooltipTitleExtra {
	font: 1em sans-serif;
	color: #eeeeee;
	margin: 0px;
	margin-top: 12px;
}

.tooltipTable {
	padding: 4px 8px 4px 8px;
}

.tooltipTdLeft {
	font: 0.875em sans-serif;
	color: #eeeeee;
	padding: 1px 4px 0px 4px;
	margin-bottom: 1px;
    vertical-align: bottom;
}

.tooltipTdLeftSpace {
	font: 0.875em sans-serif;
	color: #eeeeee;
	padding: 8px 4px 0px 4px;
	margin-bottom: 1px;
    vertical-align: bottom;
}

.tooltipTdRight {
	font: 0.875em sans-serif;
	color: #eeeeee;
	padding: 0px 4px 0px 4px;
	margin-bottom: 1px;
    vertical-align: bottom;
}

.tooltipTdRightPos {
	font: 0.875em sans-serif;
	color: lime;
	padding: 0px 4px 0px 4px;
	margin-bottom: 1px;
    vertical-align: bottom;
}

.tooltipTdRightNeg {
	font: 0.875em sans-serif;
	color: red;
	padding: 0px 4px 0px 4px;
	margin-bottom: 1px;
    vertical-align: bottom;
}

.gold {
	width: 16px;
	height: 16px;
	margin-bottom: -2px;
	margin-left: 2px;
	display: inline-block;
	background-image: url("../img/gold.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: transparent;
}

.footer {
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
	color: #eeeeee;
	font: 0.875em sans-serif;
    -webkit-filter: drop-shadow(0px 0px 2px rgba(0,0,0,1));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#444')";
}